.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newproductgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .newproductgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  .newproductgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .newproductgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }