.mainBody {
  display: flex;
  margin: 0;
}

.newproductgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newproductgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newproductgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newproductgrid {
  display: flex;
}

.getBorder img {
  border-radius: 70%;
}

.getBorder img {
  height: 100%;
}

.Success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  z-index: 9999; /* Ensure it's above other elements */
}

/* Optional: Add styles to customize the appearance of the animation */
.Success .lottie-container {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin: 0 auto;
}

/* Added new oner now  */

.Success .lottie-containers {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.animate__tada {
  animation-delay: 3s;
}

.user-label {
  position: absolute;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.gridOneGeneral {
  display: grid;
}

.bg-slate-300 {
  background-color: #0000005e;
  backdrop-filter: blur(10px);
}


.maxWidth{
    max-width: 300px; 
  } 


  .bg-black{
    background-color: #00000044;
    backdrop-filter: blur(30px);
  }