@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-cart-count {
  position: absolute;
  top: -18%;
  left: 9%;
  background-color: #ff0000;
  color: #fff;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #000;
}

.nav-menu li {
  cursor: pointer;
  transition: all 0.5s ease;
}

.dropObject {
  filter: drop-shadow(-10px 91px 39px #00000095);
}

.mygridreponsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.bordering input {
  border: none !important;
  border-radius: 5px;
  padding: 10px;
  width: 170%;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.bordering input:focus {
  outline: none;
}



.cartitems-promobox button {
  width: 154px;
  height: 58px;
  background: #150606;
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.getIcon {
  display: none;
}

@media only screen and (max-width: 800px) {
  .getIcon {
    display: block;
    rotate: 90deg;
    transition: all 0.5s ease;
    position: relative;
    top: -30px;
  }

  .navbar {
    padding: -50px 0px;
  }

  .nav-menu {
    display: none;
    height: 8px;
    width: 100%;
    position: absolute;

    justify-content: center;
    top: 50px;
  }

  .nav-menu-visible {
    display: flex;
  }
}

@media (max-width: 500px) {
  .getIcon {
    transform: scale(0.8);
  }

  .navbar {
    width: 8px 0px;
    gap: 0px;
  }

  .nav-menu {
    height: 30px;
    top: 50px;
  }


}
