@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 



and I'll
thanks for taking me in consideration and i will  be glad to works side by side with you or your client
and delieve an excenllent sevice as developer
  
best regard 
tchasinga balolebwami 